{
  "extends": ["airbnb-typescript"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "import/prefer-default-export": 0,
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "__REDUX_DEVTOOLS_EXTENSION__"
        ]
      }
    ],
    "jsx-a11y/click-events-have-key-events": 0
  },
  "env": {
    "browser": true
  }
}