@import "./variables";
@import "reset";
@import "./mixins";

h1 {
  font-size: 50px;
  letter-spacing: 1.25px;
}

h2 {
  font-size: 36px;
  letter-spacing: 0.9px;
}

h3 {
  font-size: 24px;
  letter-spacing: 0.6px;
}

h4 {
  font-size: 20px;
  letter-spacing: 0.6px;
}

h5 {
  font-size: 18px;
  letter-spacing: 0.6px;
}

h6 {
  font-size: 16px;
  letter-spacing: 0.6px;
}

blockquote {
  padding: 8px 15px;
  border-left: 2px solid $color-firm1;
}

a {
  @extend %link;
}

q {
  &:before,
  &:after {
    color: $color-firm1;
  }
  &:before {
    margin-right: 0.3em;
  }
  &:after {
    margin-left: 0.3em;
  }
}

hr {
  width: 100%;
  height: 2px;
  margin: 1.6rem auto;
  background: $color-firm1;
}

.clear-fix {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}
