@import './variables';
@import './functions';

@mixin ghost-vertical-align-middle {
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
  }
}

@mixin custom-scrollbar($size, $color-thumb, $color-track: 'transparent') {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-track {
    background-color: $color-track;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-thumb;
    border-radius: 5px;

    &:active {
      background-color: rgba($color-thumb, 0.7);
    }
  }
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;
  $extmods: (eot: '?', svg: '#' + str-replace($name, ' ', '_'));
  $formats: (otf: 'opentype',ttf: 'truetype');
  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma); /* stylelint-disable-line function-url-quotes */
    @font-face {
      font-display: auto;
      font-family: quote($name);
      font-style: $style;
      font-weight: $weight;
      src: $src;
    }
  }
}

@mixin placeholder-color($color) {
  &::placeholder {
    color: $color;
  }
}
