// Colors BEGIN
$color-firm1: #292929;
// Colors END

// Fonts BEGIN
$ff-primary: 'Roboto', sans-serif;
// Fonts END

// General BEGIN
$animation-time: 0.3s;
$hover-opacity: 0.7;
$active-opacity: 0.6;
// General END

// Resize BEGIN
$desktop-max-width: 1920;
$tablet-max-width: 1024;

$content-max-width: #{$desktop-max-width}px;
// Resize END

// Z-Index BEGIN
// Z-Index END
