$circular-loader-color1: #008744 !default;
$circular-loader-color2: #0057e7 !default;
$circular-loader-color3: #d62d20 !default;
$circular-loader-color4: #ffa700 !default;

$circular-loader-width: 50px;
